body{
    margin: 0;
    font-family: "Open-Sans", sans-serif;
    background-color: #2A3A4A;
}

.bg-image{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1664911979280-59917fb8b290?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.container{
    padding: 50px;
}


h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}


p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 25px;
    color: white;
}